* {
  font-family: "Noto Sans", sans-serif;
}

#app-container {
  display: flex;
  width: 100%;
}

/* Signin */

#signin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6067f1;
  height: 100vh;
}

#signin-container h1 {
  font-weight: 700;
  font-size: 72px;
  color: #fff;
  margin: 15px 0;
}

#signin-container button {
  width: 240px;
  height: 80px;
  color: #6067f1;
  font-weight: 700;
  font-size: 24px;
  background-color: #fff;
  border-radius: 10px;
}

/* Profile */

#profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6067f1;
  width: 20%;
}

#image-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1%;
}

#info-container h3 {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  margin: 5% 0;
}

#info-container button {
  width: 120px;
  height: 40px;
  color: #6067f1;
  font-weight: 700;
  font-size: 14px;
  background-color: #fff;
  border-radius: 10px;
  margin: 5% 0;
}

/* Calendar */

#calendar-container {
  width: 100%;
}

.rbc-event {
  background-color: #6067f1;
  border-color: #6067f1;
}
